<div class="container">

<h2>User info</h2>
<%= form_for(current_user) do |f| %>
<div class="form-group">
	<label class="control-label">Name</label>
	<%= f.text_field :name,class: "name" %>
</div>

<div class="form-group">
	<label class="control-label">Image</label>
	<%= f.attachment_field :image,class: "user_image" %>
</div>

<div>
	<label>Introduction</label>
	<%= f.text_area :introduction, class: "introduction", style: "overflow:auto; width: 164px; height: 46px;" %>
</div>
	<%= f.submit "Update User" %>
</div>
<% end %>
<% @user.errors.full_messages.each do |message| %>
                                      <!-- エラーメッセージの配列 -->
　　　　　<%= message %>

         <% end %>


</div>