<div class="container top">
	<div class="row">
		<div class="col-sm-3">
         <%= render 'users/list', book: @book %>
        </div>
	<% if @books.user_id == current_user.id %>
		<div class="col-sm-9">
			<h2>Book detail</h2>
			<table class="table">
				<tbody>
				  <tr>
				  	<td class="col-xs-2">
				  		<%= attachment_image_tag @books.user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", style: "width: 50px; height: 50px;" %>
						<br>
						<%= link_to @books.user.name, user_path(@books.user.id),class: "book_#{@books}" %>
					</td>
					<td class="col-xs-2">
						<%= @books.title %>
					</td>
					<td class="col-xs-2">
						<%= @books.opinion %>
					</td>
					<td class="col-xs-2">
						<%= link_to "Edit", edit_book_path, class: "btn btn-success btn-xs edit_book_#{@books}", style: "color: #fff; padding: 2px 10px;" %>
					</td>
					<td>
						<%= link_to "Destroy", book_path(@books), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger btn-xs destroy_book_#{@books} ", style: "color: #666; padding: 2px 10px;" %>
					</td>
				  </tr>
				</tbody>
			</table>
		</div>
	<% else %>
		<div class="col-sm-9">
			<h2>Book detail</h2>
			<table class="table">
				<tbody>
					<tr>
						<td class="col-xs-2">
							<%= attachment_image_tag @books.user, :image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", style: "width: 50px; height: 50px;" %>
							<br>
							<%= link_to @books.user.name, user_path(@books.user.id),class: "book_#{@books}"%>
						</td>
						<td class="col-xs-2">
							<a href= "" book_path ><%= @books.title %></a>
						</td>
						<td><%= @books.opinion %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
</div>
